*{
    color:black;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bbf5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tr, td{
    border: solid 1px black;
    border-collapse: collapse;
    padding:5px;
    margin-top:10px;
}